.navbar{
  background-color: #7e9288 !important;
}

.navbar div, .nav-link{
  color:white !important
}

input{
  border-radius: 0.5rem;
}

.btn{
  color: white !important;
  border-color: white!important;
  margin-left: 0.25rem;
}
