.titulo{
  font-weight: bold;
  font-size: 1rem;
}

.wrapper-carrinho{
  min-height: 75vh;
}

.separador{
  border-bottom: 1px solid #cecece;
}

.impar{
  background-color: #dedede;
}
